$cursorSize: clamp(50px, 6vw, 150px);

#cursorWrapper {
  position: fixed;
  overflow: visible;
  z-index: 1000;

  width: $cursorSize;
  height: $cursorSize;

  display: grid;
  place-items: center;

  &,
  & * {
    pointer-events: none;
    touch-action: none;

    // will-change: transform;
  }

  &.mobile {
    display: none;
  }
}

#cursor {
  position: relative;
  overflow: visible;

  z-index: 100;

  width: $cursorSize;
  height: $cursorSize;
  opacity: 0;

  transform: scale(0.75);
  transform-origin: center;

  border-radius: 50%;
  border: 0.125rem solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);

  transition: opacity 0.5s ease-in-out, transform ease-in-out 0.25s,
    border ease-in-out 0.25s;

  &.in.intersecting {
    transform: scale(1);
    border: 0.125rem solid rgba(255, 255, 255, 0.5);
    opacity: 1;
  }

  .ripple {
    position: absolute;
    inset: 0;
    opacity: 0;
    border-radius: 50%;

    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    );

    mix-blend-mode: lighten;

    animation-name: rippleAnimation;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 1.25s;
  }
}

@keyframes rippleAnimation {
  0% {
    opacity: 1;

    transform: scale(0.5);
  }

  100% {
    opacity: 0;

    transform: scale(1.5);
  }
}
