@use 'sass:color';
@use './fonts' as *;
@use './colors' as *;

#lab {
  // inactive state
  opacity: 0;
  pointer-events: none;
  touch-action: none;

  transition: opacity 0.5s ease-in-out;

  position: fixed;
  inset: 0;
  z-index: 50;
  display: grid;
  place-items: center;

  .btnWrapper {
    display: grid;
    place-items: center;
  }

  a {
    color: white;
    font-size: clamp(1.25rem, 1.25rem + 1.5vw, 4rem);
    font-family: $serif;
    font-weight: 600;
    text-decoration: none;
    // border: 1px solid black;
    pointer-events: none;
    touch-action: none;
    text-shadow: 0px 0px 7px #000000;
    transform: scale(1);

    transition: transform ease-in-out 0.25s;

    padding: 1rem 1.5rem;

    &:hover {
      transform: scale(1.2);
    }
  }

  &.in {
    opacity: 1;

    a {
      pointer-events: all;
      touch-action: all;
      cursor: pointer;
    }
  }
}
