@use 'sass:color';
@use './fonts' as *;
@use './colors' as *;

#lab {
  // inactive state
  opacity: 0;
  pointer-events: none;
  touch-action: none;

  transition: opacity 0.5s ease-in-out;

  position: fixed;
  inset: 0;
  z-index: 50;
  display: grid;
  place-items: center;

  a {
    color: white;
    font-size: 1.1rem;
    font-family: $serif;
    text-decoration: none;
    border: 1px solid white;
    pointer-events: none;
    touch-action: none;

    background-color: rgba(255, 255, 255, 0);

    transition: background-color ease-in-out 0.2s;

    padding: 1rem 1.5rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &.in {
    opacity: 1;

    a {
      pointer-events: all;
      touch-action: all;
      cursor: pointer;
    }
  }
}
