@use './fonts' as *;
@use './colors' as *;

#loading {
  position: fixed;
  opacity: 1;
  inset: 0;
  z-index: 5;

  background: rgba(0, 0, 0, 1);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 20, 20, 1) 100%
  );

  transition: opacity 0.5s ease-in-out;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto auto 1fr;
  place-items: center;

  .text {
    grid-row: 2/3;
    grid-column: 1/2;

    text-align: center;
    font-family: $sans-serif;
    color: white;
    margin: 2rem 0;

    h1 {
      font-size: 3rem;
      letter-spacing: 1px;
    }

    h2 {
      font-size: 1.5rem;
      letter-spacing: 1px;
      font-weight: 300;
    }
  }

  .loadBar {
    font-family: $serif;
    letter-spacing: 2px;
    margin: 2rem 0;
    color: white;
    grid-row: 3/4;
    grid-column: 1/2;
    z-index: 15;
    text-align: center;

    padding: 5px 2rem;
  }

  .rule {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 100vw;
    height: 2px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.753);
    transition: transform 0.2s ease-in-out;
  }

  button {
    opacity: 0;
    z-index: -1;
    position: absolute;
    z-index: 15;
    cursor: pointer;

    grid-row: 3/4;
    grid-column: 1/2;

    font-family: $serif;
    letter-spacing: 2px;
    font-weight: 500;

    background-color: rgba(0, 0, 0, 0);

    color: white;
    border: 1px solid white;
    padding: 0.75rem 2rem;

    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgba(56, 56, 56, 1);
    }
  }

  &.ready {
    .loadBar,
    .rule {
      animation-name: out;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-timing-function: ease-in;
    }

    button {
      animation-name: out;
      animation-delay: 1s;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-fill-mode: both;
      animation-direction: reverse;
    }
  }

  &.out {
    opacity: 0;
    pointer-events: none;
    touch-action: none;
  }
}

@keyframes out {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    pointer-events: none;
    touch-action: none;
  }
}
