@use 'sass:color';
@use './fonts' as *;
@use './colors' as *;

#workGui {
  position: fixed;
  cursor: none;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  touch-action: none;
  z-index: 51;

  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;

  transition: opacity 0.5s ease-in-out;
  transition-delay: 0s;

  h3 {
    font-family: $sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 1rem + 0.75vw, 3rem);
    color: rgba($color: #ffffff, $alpha: 1);
    pointer-events: none;
    max-width: 60ch;
    text-align: center;

    text-shadow: 0px 0px 10px #000000;

    transition: color ease-in-out;
  }

  .buttons {
    display: flex;
    gap: 1rem;

    a {
      color: white;
      font-size: 1.1rem;
      font-family: $serif;
      text-decoration: none;
      border: 1px solid white;
      pointer-events: none;
      touch-action: none;
      cursor: none;

      background-color: rgba(255, 255, 255, 0);

      transition: background-color ease-in-out 0.2s;

      padding: 1rem 1.5rem;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .images {
    display: grid;
    position: relative;
    max-width: 80%;

    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      height: 3rem;

      background-color: red;
    }

    img {
      max-width: 100%;
      pointer-events: none;
      touch-action: none;

      transform: scale(1);

      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &.in {
    opacity: 1;
    transition-delay: 1s;

    .buttons a,
    .images img {
      pointer-events: all;
      touch-action: all;
    }
  }

  &.viewing {
    transition-delay: 0s;
  }
}

@media (max-width: 500px) {
  #workGui {
    padding: 17vh 5vw 0;
  }
}
