@use 'sass:color';
@use './fonts' as *;
@use './colors' as *;

#workGui {
  position: fixed;
  inset: 0;
  pointer-events: all;
  touch-action: all;
  z-index: 51;
  overflow-y: auto;
  overflow-x: none;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;

  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;

  h3 {
    font-family: $sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 1rem + 0.75vw, 3rem);
    color: rgba($color: #ffffff, $alpha: 1);
    pointer-events: none;
    max-width: 60ch;
    text-align: center;

    text-shadow: 0px 0px 10px #000000;

    transition: color ease-in-out;
  }

  .buttons {
    display: flex;
    gap: 1rem;

    a {
      color: white;
      font-size: 1.1rem;
      font-family: $serif;
      text-decoration: none;
      border: 1px solid white;
      pointer-events: none;
      touch-action: none;
      cursor: pointer;

      background-color: rgba(255, 255, 255, 0);

      transition: background-color ease-in-out 0.2s;

      padding: 1rem 1.5rem;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .images {
    display: grid;
    position: relative;
    max-width: 80%;
    padding-bottom: 5rem;

    grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));

    img {
      max-width: 100%;
    }
  }

  &:not(.in) {
    pointer-events: none;
    touch-action: none;
  }

  &.in {
    .buttons a,
    .images img {
      pointer-events: all;
      touch-action: all;
    }
  }
}

@media (max-width: 800px) {
  #workGui {
    .images {
      width: 90%;
      grid-template-columns: 100%;
    }
  }
}

@media (max-width: 500px) {
  #workGui {
    padding: 17vh 5vw 0;
  }
}
