@use 'sass:color';
@use './ipadWebGLWrapper';
@use './colors' as *;
@use './fonts' as *;

@use './about';
@use './works';
@use './lab';
@use './loading';
@use './cursor';

$loading-width: clamp(250px, 100%, 15vw);

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  background-color: #010102;
  overflow: hidden;
}

* {
  margin: 0;
  box-sizing: border-box;
}

canvas {
  touch-action: none;
}

.stats {
  bottom: 5px;
  right: 5px !important;
  left: auto !important;
  top: auto !important;
}

.tp-dfwv {
  z-index: 20;
}

#root,
.App,
#webGL-wrapper {
  height: 100%;
  width: 100%;
}

#webGL-wrapper {
  z-index: 2;
  overflow: hidden;
  position: relative;
}

#gui {
  position: fixed;
  inset: 0;
  pointer-events: none;
  touch-action: none;
  z-index: 100;

  .back {
    pointer-events: all;
    touch-action: all;
    color: white;
    font-size: 2rem;
    position: absolute;
    margin-right: 0;
    cursor: pointer;

    top: 2rem;
    left: 2rem;

    opacity: 0;
    transform: translateX(50%);
    transition: all 0.5s ease-in-out;

    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.85));

    &.in {
      opacity: 1;
      transform: translateX(0);
    }

    &:hover {
      left: 1.5rem;

      > * {
        margin-right: 0.5rem;
      }
    }
  }

  #tooltip {
    position: fixed;
    bottom: 2rem;
    left: 2rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    font-family: $serif;
    font-size: 1.5rem;
    color: white;

    opacity: 0;

    transition: all 0.4s ease-in-out;

    .icon {
      z-index: 100;
      pointer-events: all;
      touch-action: all;
      animation-name: iconAnimation;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 1.5s;
      animation-direction: alternate;
    }

    h3 {
      font-weight: 300;
      font-size: clamp(1rem, 1rem + 0.75vw, 3rem);
    }

    > * {
      filter: drop-shadow(0.15rem 0.15rem 2px black);
    }

    &.in {
      opacity: 1;

      .icon:hover {
        animation-name: none;
      }
    }

    &.hovered {
      .icon {
        animation-name: none;
      }
    }
  }
}

@keyframes iconAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}
