@import url("https://use.typekit.net/eya6uhe.css");
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: #010102;
  overflow: hidden;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stats {
  bottom: 5px;
  left: 5px !important;
  top: auto !important;
}

.tp-dfwv {
  z-index: 20;
}

#root,
.App,
#webGL-wrapper {
  height: 100%;
  width: 100%;
}

#webGL-wrapper {
  z-index: 2;
  overflow: hidden;
  position: relative;
  cursor: none;
}

#loading {
  position: fixed;
  opacity: 1;
  inset: 0;
  z-index: 5;
  background: black;
  background: radial-gradient(circle, black 0%, #141414 100%);
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto auto 1fr;
  place-items: center;
}
#loading .text {
  grid-row: 2/3;
  grid-column: 1/2;
  text-align: center;
  font-family: proxima-nova, sans-serif;
  color: white;
  margin: 2rem 0;
}
#loading .text h1 {
  font-size: 3rem;
  letter-spacing: 1px;
}
#loading .text h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 300;
}
#loading .loadBar {
  font-family: orpheuspro, serif;
  letter-spacing: 2px;
  margin: 2rem 0;
  color: white;
  grid-row: 3/4;
  grid-column: 1/2;
  z-index: 15;
  text-align: center;
  padding: 5px 2rem;
}
#loading .rule {
  grid-row: 3/4;
  grid-column: 1/2;
  width: 100vw;
  height: 2px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.753);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
#loading button {
  opacity: 0;
  z-index: -1;
  cursor: pointer;
  position: absolute;
  z-index: 15;
  grid-row: 3/4;
  grid-column: 1/2;
  font-family: orpheuspro, serif;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
  padding: 0.75rem 2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#loading button:hover {
  background-color: #383838;
}
#loading.ready .loadBar,
#loading.ready .rule {
  -webkit-animation-name: out;
          animation-name: out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
#loading.ready button {
  -webkit-animation-name: out;
          animation-name: out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  animation-direction: reverse;
}
#loading.out {
  opacity: 0;
  pointer-events: none;
  -ms-touch-action: none;
      touch-action: none;
}

@-webkit-keyframes out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    touch-action: none;
  }
}

@keyframes out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    -ms-touch-action: none;
        touch-action: none;
  }
}
#cursor {
  position: fixed;
  inset: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
  -ms-touch-action: none;
      touch-action: none;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-color: white;
  opacity: 0.8;
  -webkit-box-shadow: 0px 0px 0.25rem 0.1rem #525252;
          box-shadow: 0px 0px 0.25rem 0.1rem #525252;
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}
#cursor.hovering {
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
}
#cursor.hoveringGui {
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
  opacity: 0.4;
}
#cursor .ripple {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0) 100%);
  mix-blend-mode: lighten;
  -webkit-animation-name: rippleAnimation;
          animation-name: rippleAnimation;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes rippleAnimation {
  0% {
    opacity: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    left: -75%;
    top: -75%;
    right: -75%;
    bottom: -75%;
  }
}

@keyframes rippleAnimation {
  0% {
    opacity: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    left: -75%;
    top: -75%;
    right: -75%;
    bottom: -75%;
  }
}
#gui {
  position: fixed;
  inset: 0;
  pointer-events: none;
  -ms-touch-action: none;
      touch-action: none;
  z-index: 100;
}
#gui .back {
  pointer-events: all;
  -ms-touch-action: all;
      touch-action: all;
  color: white;
  font-size: 2rem;
  position: absolute;
  margin-right: 0;
  top: 2rem;
  left: 2rem;
  opacity: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#gui .back.in {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
#gui .back:hover {
  left: 1.5rem;
}
#gui .back:hover > * {
  margin-right: 0.5rem;
}
#gui #tooltip {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-family: orpheuspro, serif;
  font-size: 1.5rem;
  color: white;
  opacity: 0;
  cursor: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#gui #tooltip .icon {
  z-index: 100;
  pointer-events: all;
  -ms-touch-action: all;
      touch-action: all;
  -webkit-animation-name: iconAnimation;
          animation-name: iconAnimation;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
#gui #tooltip h3 {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#gui #tooltip > * {
  -webkit-filter: drop-shadow(0.15rem 0.15rem 2px black);
          filter: drop-shadow(0.15rem 0.15rem 2px black);
}
#gui #tooltip.in {
  opacity: 1;
}
#gui #tooltip.in .icon:hover,
#gui #tooltip.in .icon:active {
  -webkit-animation-name: none;
          animation-name: none;
}
#gui #tooltip.in .icon:hover ~ h3,
#gui #tooltip.in .icon:active ~ h3 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@-webkit-keyframes iconAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes iconAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
#about,
#workList,
#lab {
  position: fixed;
  inset: 0;
  z-index: 51;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10vh 10vw;
}
#about > *,
#workList > *,
#lab > * {
  width: clamp(300px, 100%, 1500px);
}
#about h1,
#workList h1,
#lab h1 {
  cursor: auto;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  opacity: 0;
  font-size: clamp(2.5rem, 2rem + 2vw, 5rem);
  font-family: orpheuspro, serif;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
#about h1::before,
#workList h1::before,
#lab h1::before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 5%;
  bottom: 25%;
  top: 60%;
  right: -10%;
  background-color: #ff9e9e;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
#about h1, #about h1::before,
#workList h1,
#workList h1::before,
#lab h1,
#lab h1::before {
  -webkit-transition: all 1.25s ease-in-out;
  transition: all 1.25s ease-in-out;
}
#about.in,
#workList.in,
#lab.in {
  opacity: 1;
  pointer-events: all;
  -ms-touch-action: all;
      touch-action: all;
  cursor: auto;
}
#about.in .header h1,
#workList.in .header h1,
#lab.in .header h1 {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
#about.in .header h1::before,
#workList.in .header h1::before,
#lab.in .header h1::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#about .content {
  cursor: auto;
  margin-top: 2rem;
  display: grid;
  height: 100%;
  max-height: 100%;
  font-size: clamp(1rem, 1rem + 0.3vw, 2rem);
  grid-template-areas: "desc img";
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem;
  font-family: proxima-nova, sans-serif;
  font-size: 1.2rem;
}
#about .content .desc {
  grid-area: desc;
  place-self: center start;
  font-size: clamp(1rem, 1rem + 0.3vw, 2rem);
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  opacity: 0;
  overflow: auto;
  -webkit-transition: all 1.25s ease-in-out;
  transition: all 1.25s ease-in-out;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
  width: clamp(25ch, 100%, 45ch);
}
#about .content .desc strong {
  text-decoration: underline;
  -webkit-text-decoration-color: #ff9e9e;
          text-decoration-color: #ff9e9e;
  text-decoration-thickness: 0.125rem;
}
#about .content .img {
  grid-area: img;
  width: 100%;
  height: 100%;
  place-self: center;
  opacity: 0;
  -webkit-transition: opacity 1.25s ease-in-out;
  transition: opacity 1.25s ease-in-out;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
#about.in .content .desc,
#about.in .content .links {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
#about.in .content .img {
  opacity: 1;
}

#works {
  position: fixed;
  inset: 0;
  z-index: 50;
  pointer-events: none;
  -ms-touch-action: none;
      touch-action: none;
}

#workList {
  cursor: auto;
}
#workList .header {
  margin-bottom: 2rem;
}
#workList .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 1.25s ease-in-out;
  transition: all 1.25s ease-in-out;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  opacity: 0;
}
#workList .list .work {
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid #77777733;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#workList .list .work:last-of-type {
  border-bottom: 1px solid #77777733;
}
#workList .list .work:hover h2,
#workList .list .work:hover h3 {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}
#workList .list .work h2,
#workList .list .work h3 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#workList .list .work h2 {
  font-family: orpheuspro, serif;
}
#workList .list .work h3 {
  font-size: clamp(1.5rem, 1.5rem + 0.3vw, 2rem);
  font-family: orpheuspro, serif;
  font-weight: 300;
}
#workList.in .list {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

#workPage {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: all 1.25s ease-in-out;
  transition: all 1.25s ease-in-out;
  pointer-events: none;
  -ms-touch-action: none;
      touch-action: none;
  cursor: none;
  font-family: proxima-nova, sans-serif;
}
#workPage h1 {
  font-family: orpheuspro, serif;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  position: relative;
}
#workPage h1 .underline {
  content: "";
  z-index: -1;
  position: absolute;
  left: 5%;
  bottom: 25%;
  top: 60%;
  right: -10%;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
#workPage h1,
#workPage h1 .underline {
  -webkit-transition: all 1.25s ease-in-out;
  transition: all 1.25s ease-in-out;
}
#workPage .content {
  z-index: 51;
  display: grid;
  grid-template-areas: ". header .     ." ". desc   links .";
  grid-template-columns: 1fr clamp(25ch, 100%, 45ch) -webkit-max-content 1fr;
  grid-template-columns: 1fr clamp(25ch, 100%, 45ch) max-content 1fr;
  gap: 1rem;
  pointer-events: none;
  padding: 2rem 0;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: all 1.25s ease-in-out;
  transition: all 1.25s ease-in-out;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.95)), color-stop(60%, rgba(0, 0, 0, 0.65)), color-stop(80%, rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0.45) 80%, rgba(0, 0, 0, 0) 100%);
}
#workPage .content h1 {
  grid-area: header;
  font-size: 2rem;
}
#workPage .content .text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#workPage .content .desc {
  grid-area: desc;
}
#workPage .content .links {
  grid-area: links;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 1.5rem;
}
#workPage .content .links a[disabled] {
  display: none;
}
#workPage .content .links a {
  text-decoration: none;
  display: block;
  font-family: orpheuspro, serif;
  letter-spacing: 2px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
  padding: 1rem 1.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#workPage .content .links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#workPage .workCanvasWrapper {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: auto;
}
#workPage.in {
  opacity: 1;
  pointer-events: all;
  -ms-touch-action: all;
      touch-action: all;
  cursor: auto;
}
#workPage.in .content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
#workPage.in a {
  pointer-events: all;
  -ms-touch-action: all;
      touch-action: all;
}
#workPage.in h1 {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
#workPage.in h1 .underline {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#lab h2 {
  opacity: 0;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
#lab.in h2 {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 1000px) {
  #about .content {
    grid-template-columns: 100%;
  }
  #about .content .img {
    display: none;
  }

  #workPage .content {
    padding: 0 5% 5%;
    gap: 0;
    grid-template-areas: "header" "desc" "links";
    grid-template-columns: 100%;
  }
  #workPage .content .desc {
    margin-bottom: 0.5rem;
  }
  #workPage .workCanvasWrapper {
    bottom: 10%;
  }
}

/*# sourceMappingURL=index.css.map */